<div class="row d-flex justify-content-center">
    <div class="row gy-2">
        <div class="col-md-8 h-100">
            <!-- Cart card -->
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class=" m-0"> Cart ({{totalQuantityOfProducts}})</h5> <button (click)="clearCart()"
                            class="btn btn-primary">Remove all</button>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngFor="let cartProduct of cartProducts" class="card-body border mt-1">
                        <div class="row align-items-center">
                            <div class="col-md-2">
                                <img src="{{cartProduct.product.imageUrl}}" class="card-img" alt="placeholder">
                            </div>
                            <div class="col-md-4">
                                <p class="fw-bold">{{cartProduct.product.name}}</p>
                                <span>{{cartProduct.product.description}}</span>
                            </div>
                            <div class="col-md-2 text-center">
                                <p class="text-center">{{cartProduct.quantity}} x {{cartProduct.product.unitPrice |
                                    currency:
                                    'USD'}}</p>
                                <span class="text-center border-top text-black-50">{{cartProduct.quantity *
                                    cartProduct.product.unitPrice | currency: 'USD'}}</span>
                            </div>
                            <div class="col-md-3">
                                <div class="text-center">
                                    <button *ngIf="cartProduct.quantity > 1"
                                        (click)="decreaseProductQuantity(cartProduct)" class="btn bg-transparent"><i
                                            class="fa-solid fa-minus" style="color: #0d6efd;"></i></button>
                                    <button *ngIf="cartProduct.quantity <= 1" class="btn bg-transparent">
                                        <i class="fa-solid fa-minus" style="color: #c2c3c5;"></i></button>
                                    <span>{{cartProduct.quantity}} </span>
                                    <button (click)="increaseProductQuantity(cartProduct)" class="btn bg-transparent"><i
                                            class="fa-solid fa-plus" style="color: #0d6efd;"></i></button>
                                </div>
                            </div>
                            <div class="col-md-1 m-0">
                                <button (click)="removeFromCart(cartProduct)" class="btn bg-transparent"><i
                                        class="fa-solid fa-trash" style="color: rgb(167, 10, 10);"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of cart card-->

        <!-- Summary card -->
        <div class="col-md-4 h-100 gy-2">
            <div class="card p-0">
                <div class="card-header bg-">
                    <h5>Summary</h5>
                </div>
                <div class="card-body">
                    <div>
                        <p class="d-flex justify-content-between"><span>Products</span> <span>{{totalCartValue |
                                currency:'USD'}}</span></p>
                        <p class="d-flex justify-content-between"><span>Shipping</span> <span>{{shippingPrice |
                                currency:'USD'}}</span></p>
                        <p class="d-flex justify-content-between border-top"><span>Total price</span>
                            <span>{{totalCartValue
                                +
                                shippingPrice | currency:'USD'}}</span></p>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <a routerLink="/checkout" class="btn btn-primary mt-2">CHECKOUT</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end of summary card-->
    </div>
</div>