node_modules
.vscode

# Build artifacts
dist
build
out

# Configuration files
*.env
*.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Version control files
.git
.gitignore