<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{product.imageUrl}}" class="card-img" alt="placeholder">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h3 class="card-title">{{product.name}}</h3>
                <h6 class="card-title">{{product.sku}}</h6>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text">{{product.unitPrice | currency:'USD'}}</p>
                <p class="card-text">Units left: {{product.unitsInStock}}</p>
                <p class="card-text"><small class="text-muted">Added: {{product.dateCreated}}, Last Updated:
                        {{product.lastUpdated}}</small></p>
                <button (click)="addToCart(product)" class="btn button-style">Add to Cart</button>
            </div>
        </div>
    </div>
</div>