<div class="row d-flex justify-content-center">
  <div *ngFor="let product of products" class="col-sm-12 col-md-4 col-lg-3 m-4 d-flex align-self-stretch">
    <div class="card">
      <img src="{{product.imageUrl}}" class="card-img-top" alt="...">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text">{{product.description}}</p>
        <div class="mt-auto">
          <a routerLink="/product-details/{{ product.id }}" class="btn btn-primary me-2">Details</a>
          <button (click)="addToCart(product)" class="btn btn-primary">Add to Cart</button>
          <button *ngIf="isAdmin" (click)="deleteProduct(product.id)" class="btn btn-danger mt-2">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>