<div>
<nav class="navbar navbar-light w-100" style="background-color: #ffffff">
    <div class="container justify-content-center">
        <button class="btn btn-outline-dark me-2" routerLink="/product-category-crud/add-category">Add new category</button>
        <button class="btn btn-outline-dark me-2" routerLink="/product-category-crud/update-category">Update category</button>
        <button class="btn btn-outline-dark me-2" routerLink="/product-category-crud/remove-category">Remove category</button>
    </div>
</nav>
<router-outlet></router-outlet>
</div>