<nav class="navbar navbar-light shadow-sm  mb-3 bg-body p-3 justify-content-between">
  <div class="d-flex align-items-center">
    <div class="me-2">
      <a routerLink="/"><img src="/assets/img/logo/logo.png" class="logo" alt="placeholder"></a>
    </div>
    <div class="dropdown me-2">
      <button class="btn btn-transparent dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Categories
      </button>
      <div class="dropdown-menu">
        <app-product-category-menu></app-product-category-menu>
      </div>
    </div>
    <div><app-search></app-search></div>
  </div>
  <div class="d-flex align-items-center">
    <div class="border-end"><app-cart-bar></app-cart-bar></div>
    <div *ngIf="isAuthenticated" class="dropdown ms-3">
      <button class="btn btn-transparent dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Hello {{firstName}}!
      </button>
      <div class="dropdown-menu">
        <div *ngIf="isAuthenticated">
          <a [routerLink]="['/find-order/by-user/', userEmail]">Your Orders</a>
        </div>
        <div *ngIf="isAdmin">
          <a class="text-danger" routerLink="/admin-dashboard">Admin Dashboard</a>
        </div>
        <div *ngIf="isAuthenticated">
          <a routerLink (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
    <div *ngIf="!isAuthenticated"><a class="login ms-3" routerLink="/login">Log in</a></div>
  </div>


</nav>