/* The sidebar menu */
.sidebar {
    width: 130px; 
    position: fixed;
    z-index: 1;
    background-color: rgb(247, 247, 247);
    overflow-x: hidden; 
    height: 100%;
    left: 0;
    top: 0;
  }

  .sidebar a{

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 23px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
  }

  .sidebar a:hover {
    color: rgb(29, 4, 165);
  }

  .main {
    margin-left: 130px;
  }

  .active {
    background-color: rgb(170, 204, 243);
  }