
.dropdown-menu a{
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;
  
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  text-decoration: underline;
}

.main {
  margin-top: 54px;
  margin-left: 170px;
}

.top-bar {
  margin-left: 170px;
}

.active {
  text-decoration: underline !important;
}

.img-summary {
  max-width: 100px;
}

.user-name {
  display: inline;
}

.logo {

  max-width: 200px;

}

.remove-margin-bottom{
  margin-bottom: 0px;
}

.product-img{
  max-width: 200px;
}

.login {
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.login:hover {
  text-decoration: none;
  color: black;
}

