.dropdown-menu a {
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;

  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline !important;
}

.img-summary {
  max-width: 100px;
}

.user-name {
  display: inline;
}

.logo {
  max-width: 200px;
}

.remove-margin-bottom {
  margin-bottom: 0px;
}

.product-img {
  height: 400px;
   padding: 5px;
   object-fit:contain;
}

.login {
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.login:hover {
  text-decoration: none;
  color: black;
}

.button-style {
  background-color: #ff8370;
  border: #ff8370;
  color: white;
}

.button-style:hover {
  background-color: #fc4d33;
  border: #fc705a;
  color: white;
}

.button-style:active {
  background-color: #f82808 !important;
  color: white !important;
}

.carousel-item{
  height: 400px;
  
} 
.carousel-item img{
  position: absolute;
  object-fit: cover;
  min-height: 400px;
  height: 400px;
}

.top-category-img{
  height: 200px;
}
